// RWD

@media screen and (max-width: 380px) {
  .main-hero {
    display: flex;
    .menu-menu {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      .main-menu-el {
        display: flex;
        justify-content: center;
        align-items: center;
        .main-menu-btn {
          justify-content: flex-start;
          align-items: flex-start;
        }
      }
    }
  }

}

@media screen and (min-width: 381px) and (max-width: 425px) {

}

@media screen and (min-width: 426px) and (max-width: 840px) {

}

@media screen and (min-width: 841px) {

}